---
const { size } = Astro.props;
---

<svg
	class="logo"
	width={size}
	height={size}
	viewBox="0 0 256 256"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
>
 <g>
  <title>Logo</title>
  <g stroke="null">
   <g stroke="null" transform="matrix(6.62992 0 0 6.62992 -7668.51 -3918.83)">
    <g stroke="null" transform="matrix(1 0 0 1 335.899 318.162)">
     <path stroke="null" d="m836.18345,300.62024l-0.05,0l0,2l0.05,0l0,-2m-9.35,-8.9l-2.8,0l0,4.35l2.8,0l0,-4.35m29.25,4.75l-2.85,0l0,7l2.85,0l0,-7m-7.75,-0.5l0,-4.35l-4.3,0l0,4.35l4.3,0z" fill="#8CADAF"/>
     <path stroke="null" d="m826.78345,310.67024q0.7,0.65 1.6,0.75l3.2,0q1.1,0 1.9,-0.75q0.55,-0.55 0.7,-1.25l-8.1,0q0.15,0.7 0.7,1.25m-2.65,-4.15q0.1,0.55 0.5,1q0.1,0.15 0.2,0.25q0.5,0.5 1.2,0.7l8.2,0q0.7,-0.2 1.2,-0.7q0.1,-0.1 0.25,-0.25q0.35,-0.45 0.45,-1l-12,0m24.2,4.9l3.15,0q1.15,0 1.9,-0.75q0.55,-0.55 0.7,-1.25l-8.1,0q0.15,0.7 0.7,1.25q0.7,0.65 1.65,0.75m-3.6,-3.65q0.55,0.5 1.2,0.7l8.2,0q0.7,-0.2 1.2,-0.7q0.1,-0.1 0.25,-0.25q0.35,-0.45 0.45,-1l-12,0q0.15,0.55 0.5,1q0.1,0.15 0.2,0.25z" fill="#415556"/>
     <path stroke="null" d="m826.03345,308.47024q-0.05,0.15 -0.05,0.3q0,0.35 0.1,0.65l8.1,0q0.1,-0.3 0.1,-0.65q0,-0.15 -0.05,-0.3l-8.2,0m-1.95,-2.95q0,0.15 0,0.35q0,0.3 0.05,0.65l12,0q0.05,-0.3 0.05,-0.55l0,-0.1q0,-0.2 0,-0.35l-12.1,0m21.85,3.25q0,0.35 0.05,0.65l8.1,0q0.1,-0.3 0.1,-0.65q0,-0.15 -0.05,-0.3l-8.2,0q0,0.15 0,0.3m-1.95,-2.9q0,0.3 0.05,0.65l12,0q0.05,-0.1 0.05,-0.2q0.05,-0.25 0.05,-0.45q0,-0.2 -0.05,-0.35l-12.1,0q0,0.15 0,0.35z" fill="#364C4D"/>
     <path stroke="null" d="m836.18345,288.97024l0,-1.2l-12.15,0l0,3.95l2.8,0l0,4.35l-2.8,0l0,9.45l0.05,0l12.1,0l0,-2.9l-0.05,0l0,-2l0,-10.65l0,-1l0.05,0m17.05,7.5l2.85,0l0,-8.7l-12.15,0l0,1.2l0,1l0,10.65l0,4.9l0.05,0l12.1,0l0,-2.05l-2.85,0l0,-7m-4.9,-4.85l0,4.35l-4.3,0l0,-4.35l4.3,0z" fill="#98B6B8"/>
     <path stroke="null" d="m843.93345,300.62024l0,-10.65l-7.8,0l0,10.65l0.05,0l7.75,0m0,-14.1q0,0.05 0,0.1l0,0.25q0,0.1 0,0.2l0,0.05q0,0.05 0,0.15l0,0.5l12.15,0l0,-0.8q0,-0.05 0,-0.1l0,-0.9q0,-0.1 0,-0.2l-12.15,0l0,0.75m-7.75,0.35l0,-0.9q0,-0.1 0,-0.2l-12.15,0l0,1.35q0,0.05 0,0.15l0,0.5l12.15,0l0,-0.8q0,-0.05 0,-0.1z" fill="#B7CED0"/>
     <path stroke="null" d="m843.93345,289.97024l0,-1l-7.75,0l-0.05,0l0,1l7.8,0z" fill="#D2E3E5"/>
     <path stroke="null" d="m843.93345,285.42024q0,0.2 0,0.35l12.15,0q-0.05,-1.85 -0.4,-3.5q-0.45,-2.15 -1.4,-3.95q-1.75,-3.4 -4.3,-3.4q-2.5,0 -4.3,3.4q-0.9,1.8 -1.35,3.95q-0.3,1.5 -0.4,3.15m-19.9,0q0,0.2 0,0.35l12.15,0q-0.05,-1.85 -0.4,-3.5q-0.45,-2.15 -1.4,-3.95q-1.75,-3.4 -4.3,-3.4q-2.55,0 -4.3,3.4q-0.9,1.8 -1.35,3.95q-0.3,1.5 -0.4,3.15z" fill="#E56230"/>
     <path stroke="null" d="m845.68345,276.32024q-0.9,1.8 -1.35,3.95q-0.3,1.5 -0.4,3.15q0,0.5 0,1l0,0.1q0,0.05 0,0.1l0,0.25q0,0.1 0,0.2l0,0.05q0,0.05 0,0.15l0,0.15q0.1,-1.65 0.4,-3.15q0.45,-2.15 1.35,-3.95q1.8,-3.4 4.3,-3.4q2.55,0 4.3,3.4q0.95,1.8 1.4,3.95q0.35,1.65 0.4,3.5l0,-0.8q0,-0.05 0,-0.1l0,-0.9q-0.05,-1.95 -0.4,-3.7q-0.45,-2.15 -1.4,-3.95q-1.75,-3.4 -4.3,-3.4q-2.5,0 -4.3,3.4m-19.9,0q-0.9,1.8 -1.35,3.95q-0.3,1.5 -0.4,3.15q0,0.5 0,1l0,0.1q0,0.05 0,0.1l0,0.25q0,0.1 0,0.2l0,0.05q0,0.05 0,0.15l0,0.15q0.1,-1.65 0.4,-3.15q0.45,-2.15 1.35,-3.95q1.75,-3.4 4.3,-3.4q2.55,0 4.3,3.4q0.95,1.8 1.4,3.95q0.35,1.65 0.4,3.5l0,-0.8q0,-0.05 0,-0.1l0,-0.9q-0.05,-1.95 -0.4,-3.7q-0.45,-2.15 -1.4,-3.95q-1.75,-3.4 -4.3,-3.4q-2.55,0 -4.3,3.4z" fill="#FF7A48"/>
    </g>
   </g>
  </g>
 </g>
</svg>
